        .red
        {
            background-color: red;
        }
        .orange
        {
            background-color: orange;
        }
        .yellow
        {
            background-color: yellow;
        }
        .green
        {
            background-color: rgb(29, 165, 51);
        }
        
        .blue
        {
            background-color: blue;
        }
        .purple
        {
            background-color: purple;
        }