
body{
	box-sizing: border-box;
}
.doboz {
    border: 2px solid rgb(86, 86, 86);
    border-radius: 15px;
}


.lablec a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.lablec a:hover {
    font-style: italic;
    text-decoration: none;
}
p 
{
    text-align: justify;
}
.doboz{
    background-color: rgb(210,237,250);
}

.doboz table {
    border: 2px solid rgb(86, 86, 86);
}
