@import url(http://fonts.googleapis.com/css?family=Petit+Formal+Script|Nosifer|Flavors&subset=latin,latin-ext);

body{
    margin: 0;
    font-family: arial, sans-serif;
}

.kep_hely img.normal{
    display: block;
    border: 0;
    margin: 5px auto;
}
.kep_hely{
    text-align: center;
    font-family: verdana, sans-serif;
    font-size: 10px;
}
.kep_hely.galeria{
    float: left;
    margin: 2px;
    padding: 5px;
}



#felso{
    width: 960px;
    height: 100px;
    background: url("felho1.jpg");
    
}
#kozep{
    width: 960px;
    min-height: 494px;
    background: url("felho2.jpg") repeat-y;
}
#oldal{
    width: 140px;
    padding: 10px;
    float: left;
}
#tartalom{
    width: 774px;
    padding: 10px;
    float: left;
    border: 3px solid #eee;
    min-height: 494px;
}
#also{
    clear: both;
    width: 960px;
    height: 50px;
    background-color: #ccc;
    color: #666;
    line-height: 40px;
    text-align: center;
}
#felso h1{
    font-family: 'Petit Formal Script', cursive;
    font-size: 40px;
    margin: 0;
    line-height: 80px;
    text-align: center;
    color: yellow;
}
.clear{
    clear: both;
}
#oldal a,
#oldal a:link,
#oldal a:visited{
    text-decoration: none;
    color: #ffd
}
#oldal a:hover{
    background-color: yellow;
    color: red;
}
#tartalom h2{
    font-size: 24px;
    text-align: center;
}
