body{
    background: url('leaves.jpg');
    font-family: Verdana, sans-serif;
    font-size: 13px;
    margin: 0;
}
#oldal{
    width: 960px;
    margin: 0 auto;
    padding: 10px;
}
#cim{
    background: url('cim.gif') no-repeat center center;
}
#menu{
    width: 200px;
    float: left;
}
#menu li{
    list-style-image:url('bullet.gif');
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px 0;
}
#menu a,
#menu a:link,
#menu a:visited{
    text-decoration: none;
    color: #606;
}

#tartalom{
    width: 750px;
    float: left;
}
.kep{
    float: right;
}
.kep img{
    width: 270px;
}

table{
    background-color: #cfc;
    border-collapse: collapse;
    
}
thead th{
    background-color: #060;
    color: white;
    padding: 10px;
}
td{
    padding: 10px 5px;
    vertical-align: top;
    min-width: 80px;
}
fieldset p{
    font-weight: bold;
}
input[type='text']{
    width: 300px;
}
