.P1
{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 25px;
    background-color: black;
    color: white;
}
.P2
{
    font-size: 30px;
    text-indent: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: url(./abstract-blue-geometric-shapes-background_1035-17545.avif);
    text-align: right;
}
.P3
{
    font-size: 40px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(42, 69, 165);
    background-image: url(./letöltés\ \(1\).jfif);
}
.P4
{
    font-size: 35px;
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-variant: small-caps;
    background-color: aquamarine;
    color: blue;
    text-decoration-line: underline;
}
.P5
{
    font-size: 43px;
    background-image: url(./images.jfif);
    color: rgb(15, 15, 68);
    text-align: justify;
    text-indent: 100px;
}
.P6
{
    font-size: 16px;
    background-color: brown;
    font-family: 'Courier New', Courier, monospace;
    color: blanchedalmond;
}
.P7
{
    font-size: 26px;
    background-color: aqua;
    font-weight: bold;
    text-align: center;
    text-decoration-line: overline;
}
.P8
{
    font-family: "Audiowide", sans-serif;
    font-size: 22px;
    background-color: rgb(80, 25, 38);
    color: white;
    margin: 3px;
    border: 3px dotted rgb(186, 86, 86);
}
.P9
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    color: azure;
    background-image: url(./istockphoto-1420755455-170667a.jpg);
}
.P10
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    background-image: url(./istockphoto-1169630303-170667a.jpg);
    color: aqua;
    padding: 1px;
}